body {
  font:13px Helvetica,sans-serif
}
#status {
  font-weight:bold
}
h1 {
  -webkit-padding-end:24px;
  -webkit-user-select:none;
  border-bottom:1px solid #eee;
  color:#53637d;
  font-size:200%;
  font-weight:normal;
  margin:0;
  padding-bottom:4px;
  padding-top:13px;
  text-shadow:white 0 1px 2px
}
#navbar-content-title {
  -webkit-padding-end:24px;
  -webkit-user-select:none;
  color:#53637d;
  cursor:pointer;
  font-size:200%;
  font-weight:normal;
  margin:0;
  padding-bottom:14px;
  padding-top:13px;
  text-align:end;
  text-shadow:white 0 1px 2px
}
#main-content {
  display:-webkit-box;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0
}
#navbar {
  margin:0
}
#navbar-container {
  -webkit-border-end:1px solid #c6c9ce;
  background:-webkit-linear-gradient(rgba(234,238,243,0.2),#eaeef3),-webkit-linear-gradient(left,#eaeef3,#eaeef3 97%,#d3d7db);
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  top:0;
  width:216px;
  z-index:2
}
html[dir='rtl'] #navbar-container {
  background:-webkit-linear-gradient(rgba(234,238,243,0),#eaeef3),-webkit-linear-gradient(right,#eaeef3,#eaeef3 97%,#d3d7db)
}
html.hide-menu #navbar-container {
  display:none
}
#navbar-container>ul {
  -webkit-user-select:none;
  list-style-type:none;
  margin:0;
  padding:0
}
.navbar-item {
  border-bottom:1px solid transparent;
  border-top:1px solid transparent;
  color:#426dc9;
  cursor:pointer;
  display:block;
  font-size:105%;
  outline:0;
  padding:7px 0;
  text-align:end;
  text-shadow:white 0 1px 1px;
  -webkit-padding-end:24px
}
.navbar-item:focus {
  border-bottom:1px solid #8faad9;
  border-top:1px solid #8faad9
}
.navbar-item-selected {
  -webkit-box-shadow:0 1px 0 #f7f7f7;
  background:-webkit-linear-gradient(left,#bbcee9,#bbcee9 97%,#aabedc);
  border-bottom:1px solid #8faad9;
  border-top:1px solid #8faad9;
  color:black;
  text-shadow:#bbcee9 0 1px 1px
}
#mainview {
  -webkit-box-align:stretch;
  -webkit-padding-start:246px;
  margin:0;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:1
}
html.hide-menu #mainview {
  -webkit-padding-start:0
}
button,input[type='button'],input[type='submit'] {
  -webkit-border-radius:2px;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
  -webkit-user-select:none;
  background:-webkit-linear-gradient(#fafafa,#f4f4f4 40%,#e5e5e5);
  border:1px solid #aaa;
  color:#444;
  font-size:inherit;
  margin-bottom:0;
  min-width:4em;
  padding:3px 12px 3px 12px
}
button:hover,input[type='button']:hover,input[type='submit']:hover {
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2);
  background:#ebebeb -webkit-linear-gradient(#fefefe,#f8f8f8 40%,#e9e9e9);
  border-color:#999;
  color:#222
}
button:active,input[type='button']:active,input[type='submit']:active {
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2);
  background:#ebebeb -webkit-linear-gradient(#f4f4f4,#efefef 40%,#dcdcdc);
  color:#333
}
button[disabled],input[type='button'][disabled],input[type='submit'][disabled],button[disabled]:hover,input[type='button'][disabled]:hover,input[type='submit'][disabled]:hover {
  -webkit-box-shadow:none;
  background:-webkit-linear-gradient(#fafafa,#f4f4f4 40%,#e5e5e5);
  border-color:#aaa;
  color:#888
}
.kasxita {
  display: none
}
.montrita {
  display:block
}
#priPagxo {
  background: url(http://www.gnu.org/graphics/gplv3-88x31.png) top right no-repeat;
}

#msg {
    padding: 5px;
    color: #1478A7;
    background-color: #EAF2FA;
    width: 400px;
    text-align: center;
    display: none;
}